name: GitHub Actions Demo
on:
  push:
    branches:
      - main
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - run: ls

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - run: |
          cd openapi
          ls
          npm install
          npm run bundle
      
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Deploy Swagger